@model BusinessObjects.Models.Theater
<form asp-action="DeleteConfirmedTheater" asp-controller="Admin" asp-route-id="@Model.TheaterId" method="post">
    <input type="hidden" asp-for="TheaterId" />
    <div class="modal-header">
        <h5 class="modal-title">Xác nhận xóa rạp phim?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">
        <p>Xóa vĩnh viễn rạp phim <strong>@Model.TheaterName</strong>?</p>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-danger">Xóa</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
    </div>
</form>
