@model BusinessObjects.Models.Showtime
<form asp-action="DeleteConfirmedShowtime" asp-controller="Admin" asp-route-id="@Model.ShowtimeId" method="post">
    <input type="hidden" asp-for="ShowtimeId" />
    <div class="modal-header">
        <h5 class="modal-title">Xác nhận xóa suất chiếu phim?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">
        <p>Xóa vĩnh viễn suất chiếu ngày <strong>@Model.ShowDate</strong>  của phim <strong>@(Model.Movie?.Title ?? "Không rõ")</strong>?</p>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-danger">Xóa</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
    </div>
</form>
