@model BusinessObjects.Models.User
<form asp-action="DeleteConfirmedUser" asp-controller="Admin" asp-route-id="@Model.UserId" method="post">
    <input type="hidden" asp-for="UserId" />
    <div class="modal-header">
        <h5 class="modal-title">Xác nhận xóa người dùng?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">
        <p>Xóa vĩnh viễn người dùng <strong>@Model.FullName</strong>?</p>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-danger">Xóa</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
    </div>
</form>
