@{
    ViewData["Title"] = "MakePaymentFailed";
    Layout = "_Layout";
}
@section Styles {
    <link rel="stylesheet" href="~/css/MakePaymentFailed.css" asp-append-version="true" />
}

<div class="make-payment-failed">
    <div class="overlay">
        <div class="card">
            <img src="/images/error-icon.jpg" alt="Error">
            <h1>Xuất vé thất bại</h1>
            <p>Vui lòng thanh toán để nhận vé.</p>
            <button class="btn" onclick="goHome()">Quay về Trang Chủ</button>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function goHome() {
            window.location.href = '/';
        }
    </script>
}
